.board-list-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.board-list-scrollbar::-webkit-scrollbar-thumb {
  background: #b8bbc6;
  border-radius: 9999px;
}

.board-list-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #9296a5;
}

.dark .board-list-scrollbar::-webkit-scrollbar-thumb {
  background: #4b4d5a;
}

.dark .board-list-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #626575;
}