.scrollbar::-webkit-scrollbar {
  width: 7px;
  height: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #b8bbc6;
  border-radius: 9999px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #9296a5;
}

.dark .scrollbar::-webkit-scrollbar-thumb {
  background: #4b4d5a;
}

.dark .scrollbar::-webkit-scrollbar-thumb:hover {
  background: #626575;
}
