@import "tailwindcss";

/*
*,
*::before,
*::after {
  box-sizing: border-box;
}
*/

/*
* {
  margin: 0;
  padding: 0;
}
*/

/*  Improve text rendering, maybe not needed.. */
/*
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*/

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: Arial, sans-serif;
}

/*
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
*/

/*
input,
button,
textarea,
select {
  font: inherit;
}
*/

/*
a {
  color: inherit;
  text-decoration: none;
}
*/

/*  Remove list bullets */
/*
ul,
ol {
  list-style: none;
}
*/

/* @theme {
  --animate-slide-in: slide-in 1s ease forwards;

  @keyframes slide-in {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
}

@theme {
  --animate-slide-out: slide-out 1s ease forwards;

  @keyframes slide-out {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }
} */
